language: node_js

env:
  - TARGET=test

node_js:
  - "6"
  - "8.10.0"
  - "10"

matrix:
  include:
    - name: Lint
      node_js: "8.7.0"
      env:
        - TARGET=lint
    - name: Jest
      node_js: "8.7.0"
      env:
        - TARGET=test-jest
    - name: BrowserStack IE11
      node_js: "8.7.0"
      env:
        - TARGET=test-browser
        - BROWSER=ie11
    - name: Chrome headless
      node_js: "8.7.0"
      env:
        - TARGET=test-headless
        - BROWSER=ChromeHeadless

addons:
  chrome: stable

script: npm run $TARGET
